body{
    display: grid;
    grid-template-areas: "header"
                          "hero"
                          "sobre"
                          "servicos"
                          "contato"
                          "footer";
    font-family: 'Poppins', sans-serif;
}

/* menu */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img{
    max-width: 40%;
}

.header a:hover{
    opacity: 0.6;
    transition: 0.3s;
}

.header nav ul{
    display: flex;
}

.header nav ul li a{
    padding: 10px 20px;
    color: rgb(16, 135, 67);
    font-size: 20px;
    text-transform: uppercase;
}

.header nav ul li a:hover{
    opacity: 0.6;
    transition: 0.3s;
}

/*menu responsivo*/

@media(max-width:450px){
    .header nav ul li a{
        font-size: 10px;
        padding: 10px;
    }
}


@media(max-width:858px){
    .header{
        justify-content: center;
        margin-top: 30px;
    }
    
    .header nav ul li a{
        font-size: 18px;
    }

    .header img{
        display: none;
    }
}

/*hero*/

.hero{
    grid-area: hero;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.hero:after{
    content: url(../images/seta_preta.png);
    height: 35px;
    bottom: 30px;
    position: absolute;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow{
    0%{-webkit-transform: translateY(0);
    opacity: 0.4;}
    100%{-webkit-transform: translateY(0.4em); 
    opacity: 0.9;}
}

/*hero responsivo*/

@media(max-width:848px){
    .hero{
        height: 900px;
    }
}

@media(max-width:860px){
    .hero:after{
        display: none;
    }
}

/*sobre*/

.sobre{
    grid-area: sobre;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    height: 800px;
}

.sobre h1{
    text-align: center;
    font-size: 33px;
    color: rgb(16, 135, 67);
    font-weight: 800;
}

.sobre .titulo-principal{
    color: rgb(16, 135, 67);
    font-weight: 500;
}

.sobre p{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.sobre .historia,.proposito{
    width: 65%;
}

.historia p{
    margin-top: 50px;
}

.proposito p{
    margin-top: 50px;
}

.sobre .equipe{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.sobre .equipe img{
    width: 90%;
}

/*sobre responsivo*/

@media(max-width:848px){
    .sobre{
        height: 1100px;
    }

    .sobre .equipe img {
        width: 100%;
    }
}

/*servicos*/

.servicos{
    grid-area: servicos;
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgb(16, 135, 67);
    align-items: center;
    min-height: 100vh;
    justify-content: space-evenly;
}

.servicos .introducao{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 65%;
}

.servicos .introducao h1{
    font-size: 33px;
    color: #ffff;
    font-weight: 500;
}

.servicos .introducao p{
    font-size: 18px;
    margin-top: 30px;
}

.servicos .lista-servicos{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 100px;
}

.servicos .lista-servicos h2{
    color: #ffff;
}

.serv{
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serv h2{
    font-size: 18px;
    margin-top: 50px;
}

.serv p{
    margin-top: 25px;
}

/* serviços responsivo*/

@media(max-width:848px){
    .servicos{
        min-height: 2150px;
    }
    
    .servicos .lista-servicos{
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .serv{
        width: 60%;
    }
}

/*contato*/

.contato{
    grid-area: contato;
    color: rgb(16, 135, 67);
    height: 100vh;
}

.contato h1{
    text-align: center;
    font-size: 33px;
    margin-top: 10px;
    font-weight: 500;
}

.contato .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 89vh;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

.info h3{
    margin-bottom: 10px;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.input{
    border: 2px solid rgb(16, 135, 67);
}

.input-nao-preenchido{
    border: 2px solid red;
}

input{
    height: 30px;
    width: 300px;
    margin: 5px;
}

textarea{
    height: 100px;
    width: 300px;
}

.button{
    background-color: rgb(16, 135, 67);
    width: 70px;
    color: #ffff;
    cursor: pointer;
}

.botao{
    display: flex;
    justify-content: center;
}

.formulario .agradecimento{
    display: none;
}

.formulario .preenchimento{
    display: none;
}

.formulario .agradecimento-mostrar{
    display: block;
}


.formulario .preenchimento-mostrar{
    display: block;
    color: red;
}

/*contato responsivo*/

@media(max-width:848px){
    .contato{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 800px;
    }

    .container{
        flex-direction: column;
        /* min-height: 120vh; */
    }

    .info{
        width: 60%;
        margin-top: 20px;
    }

    .formulario{
        width: 60%;
    }

    .formulario h3{
        margin-top: 35px;
    }
}

/*rodapé*/

.footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 160px;
    background-color: rgb(16, 135, 67);
}

.footer .titulo{
    color: #ffff;
}

.footer a{
    color: black;
}

.footer a:hover{
    color: #ffff;
    transition: 0.3s;
}

footer i{
    font-size: 22px;
}

.icons{
    display: flex;
    justify-content: space-around;
    width: 150px;
}

/*rodapé responsivo*/

@media(max-width:848px){
    .footer{
        text-align: center;
    }
}

